@font-face {
  font-display: swap;
  font-family: "Roboto";
  src: 
    url("./src/assets/fonts/RobotoRegular.eot");
  src: 
    url("./src/assets/fonts/RobotoRegular.eot?#iefix") format("embedded-opentype"),
    url("./src/assets/fonts/RobotoRegular.woff") format("woff"),
    url("./src/assets/fonts/RobotoRegular.woff2") format("woff2"),
    url("./src/assets/fonts/RobotoRegular.ttf")  format("truetype"),
    url("./src/assets/fonts/RobotoRegular.svg#RobotoRegular") format('svg');
}

:root {
  font-family: Roboto, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: white;
}

/* 
colors

header
#66837E

footer
#36485E
bg

#65817D
#9D4E2D
#DD9857
#9DABB6
#495F4B

*/



/* resets */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
figure,
fieldset, legend {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input, select, textarea {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

table, th, td {
  border: 0;
  padding: 0;
  margin: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

img {
  max-width: 100%;
  height: auto;
}

/* ***** */
