
header {
  display: flex;
  padding: 0.5rem 2rem;
  align-items: center;
  gap: 2rem;
}

header > :last-child {
  margin-left: auto;
}

nav {
  display: flex;
  background-color: #66837E;
  border: 2px solid #66837E;
  height: fit-content;
  border-radius: 1rem;
  overflow: hidden;

}

.nav-btn {
  border: none;
  border-radius: 0;
}

.nav-btn.active {
  color: white;
  background-color: #66837E;
}
