
#login-modal-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 1000;
}

#login-form {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #66837E;
  padding: 1.5rem;
  border-radius: 1rem;
}

#login-form fieldset {
  border: 2px solid #66837E;
  border-radius: 0.2rem;
  padding: 0 0 0.5rem 0;
  margin: 2rem 0;
  display: flex;
  align-items: center; 
  justify-content: center; 
}

#login-form legend {
  margin: 0 0.5rem;
  padding: 0rem 0.2rem;
  font-size: 0.5rem;
  font-weight: 600;
}

#login-form input {
  color: black;
  padding: 0.2rem 0.5rem;
  margin: auto 0;
  width: 100%;
  border: 1px solid #66837E;
  border: none;

}

#login-form input:focus {
  outline: none;
}

#login-button-wrapper {
  display: flex;
  justify-content: right;
  gap: 1rem;
}
